@import "./mixins";
@import "./fonts";

/*===================================devices GREATER than 1440px==================================*/

@media(min-width: 1440px) {
  .banner-bg {
    height: 60rem;
  }
}

/*===================================devices less than 1200px==================================*/

@media(max-width: 1200px) {

  /*========================
    SECTION banner-content
    ========================*/

  .banner-content {
    img {
      margin-top: -16rem;
    }
    .card {
      width: 40rem;
    }
  }

  /*========================
    SECTION lang-and-db
    ========================*/

    .lang-and-db {
      .logos {
        margin-top: 100px;
        margin-left: 50%;
      }
    }
  /*========================
    SECTION tools-and-ide
    ========================*/

    .tools-and-ide {
      .logos {
        margin-top: 180px;
      }
    }
  /*========================
    SECTION infrastructure
    ========================*/

    .infrastructure {
      .logos {
        margin-top: 180px;
        margin-left: 50%;
      }
    }

}


/*===================================devices less than 992px==================================*/

@media(max-width: 992px) {

  html {
    font-size: 9px;
  }

  .fixed-vertical-strip {
    display: none;
  }

  .side-element {
    display: none;
  }

  /*========================
    SECTION banner-content
    ========================*/
.banner {
  .banner-wrapper {
    h1 {
      font-size: 13rem;
    }
    img.banner-bg-grocery {
      display: none;
    }
    img.banner-mobile {
      margin-top: 0;
    }
    .banner-text-wrapper {
      .banner-text {
        padding: 15px;
      }
    }
  }
}



  /*========================
    SECTION uidesign
    ========================*/

    .ui-design {
      .design-text {
        h4 {
          margin-top: 10rem;
          font-size: 6rem;
        }
      }
      .design-color {
        margin: 0 auto;
        h5 {
          &:after {
            @include line (130px);
          }
        }
      }
    }

  /*========================
    SECTION engineering
    ========================*/
.engineering {
  .engineering-content {
    .challenges-slider {
      .slick-slider {
        &:after {
          width: 0;
        }
      }
    }
  }
}


  /*========================
    SECTION languages and database
    ========================*/
.lang-and-db {
  .logos {
    // margin-top: 18rem;
    margin: 180px auto 0 auto;

  }
}



  /*========================
    SECTION tools and ide
    ========================*/
.tools-and-ide {
  .logos {
    // margin-top: 18rem;
    margin: 180px auto 0 auto;
  }
}


  /*========================
    SECTION infrastructure
    ========================*/

.infrastructure {
  .logos {
    // margin-top: 22rem;
    margin: 180px auto 0 auto;
  }
}


}



/*===================================devices less than 768px==================================*/

@media(max-width: 768px) {

  html {
    font-size: 8px;
  }

  section {
    padding: 5rem 0;
  }
  /*========================
    SECTION banner-content
    ========================*/

.banner {
  .banner-wrapper {
    h1 {
      font-size: 8rem;
    }
  }
}

  /*========================
    SECTION about
    ========================*/
.about {
  .about-data {
    text-align: center;
    border-left: none;
    margin-bottom: 7rem;
    &:after {
      content: "";
      width: 70%;
      height: 2px;
      background: #979797;
      position: absolute;
      left: 15%;
    }
  }
}

  //==================
  //               design
  //==================

  .design {
    .colors {
      .col-md-6 {
        padding: 0;
        margin: 3rem 0;
        img {
          width: 150px;
        }
      }
    }
    .fonts {
      .col-md-6 {
        padding: 0;
        margin: 3rem 0;
      }
    }

  }

  /*========================
    SECTION uidesign
    ========================*/
.ui-design {
  .design-text {
    h4 {
      margin-top: 15rem;
    }
  }
}

/*========================
  SECTION icons
  ========================*/
.icons {
  padding-left: 5rem;
  padding-right: 5rem;
}

}


/*===================================devices less than 550px==================================*/

@media(max-width: 550px) {

  /*========================
    SECTION uidesign
    ========================*/
.ui-design {
  .design-text {
    h4 {
      font-size: 3.8rem;
    }
  }
  .design-color {
    h5 {
      &:after {
        @include line(150px);
      }
    }
  }
}


  /*========================
    SECTION walkthrough-screens
    ========================*/
.walkthrough-screens {
  h3 {
    &:after {
      @include line(30px);
    }
  }
}

  /*========================
    SECTION home-screens
    ========================*/
.home-screens {
  h3 {
    &:after {
      @include line(30px);
    }
  }
}


  /*========================
    SECTION other-screens
    ========================*/
.other-screens {
  h3 {
    &:after {
      @include line(30px);
    }
  }
}

  /*========================
    SECTION icons
    ========================*/
.icons {

  h3 {
    &:after {
      @include line(30px);
    }
  }
}

/*========================
  SECTION engineering
  ========================*/
.engineering {
  padding-bottom: 15rem;
  .engineering-content {
    margin-top: 5rem;
  }
}


  /*========================
    SECTION architecture
    ========================*/

.architecture {
  h3 {
    &:after {
      @include line(80px);
    }
  }
}


  /*========================
    SECTION languages and database
    ========================*/
.lang-and-db {
  .logos {
    width: auto;
    max-width: 330px;
    .python {
      @include logo-card(136px,0 0 20px 0 rgba(0, 0, 0, 0.2));
      top: -20px;
      left: 90px;
    }
    .java {
      @include logo-card(84px,0 0 9px 0 rgba(0, 0, 0, 0.2));
      top: 10rem;
      left: 10;
    }
    .mongodb {
      @include logo-card(114px,0 0 30px 0 rgba(0, 0, 0, 0.2));
      top: -100px;
      left: 200px;
    }
    img {
      width: 70%;
    }
  }
}



  /*========================
    SECTION tools and ide
    ========================*/
.tools-and-ide {
  .logos {
    width: auto;
    max-width: 330px;
    .pycharm {
      @include logo-card(80px,0 0 10px 0 rgba(0, 0, 0, 0.2));
      top: -100px;
      left: 60px;
      animation-delay: 100ms;
    }
    .trello {
      @include logo-card(69px,0 0 10px 0 rgba(0, 0, 0, 0.2));
      top: 25px;
      left: 0;
      animation-delay: 400ms;
    }
    .android-studio {
      @include logo-card(108px,0 0 10px 0 rgba(0, 0, 0, 0.2));
      z-index: 1;
      // top: -50px;
      left: 85px;
      animation-delay: 800ms;
    }
    .sketch {
      @include logo-card(70px,0 0 10px 0 rgba(0, 0, 0, 0.2));
      top: -65px;
      left: 180px;
      animation-delay: 1000ms;
    }
    .exotel {
      @include logo-card(61px,0 0 10px 0 rgba(0, 0, 0, 0.2));
      top: 0;
      left: 260px;
      animation-delay: 1200ms;
    }
    .slack {
      @include logo-card(75px,0 0 10px 0 rgba(0, 0, 0, 0.2));
      top: 130px;
      left: 40px;
      animation-delay: 1500ms;
    }
    .zeplin {
      @include logo-card(96px,0 0 10px 0 rgba(0, 0, 0, 0.2));
      top: 95px;
      left: 160px;
      animation-delay: 1900ms;
    }
    img {
      width: 80%;
    }
  }
}

  /*========================
    SECTION infrastructure
    ========================*/

.infrastructure {
  h4 {
    font-size: 30px;
  }
  .logos {
    width: auto;
    max-width: 330px;
    .firebase {
      @include logo-card(114px,0 0 30px 0 rgba(0, 0, 0, 0.2));
      top: -140px;
      left: 10px;
    }
    .amazon {
      @include logo-card(136px,0 0 20px 0 rgba(0, 0, 0, 0.2));
      top: -50px;
      left: 100px;
    }
    .mysql {
      @include logo-card(115px,0 0 7px 0 rgba(0, 0, 0, 0.2));
      top: 60px;
      left: 200px;
    }
    img {
      width: 80%;
    }
  }
}

}
